#container {
    
    width: 900px;
    height: 3000px;
    background-color: red;
    margin: auto;
    margin-top: 100x;
    
        
    
}

#navigation {
    
    width: 700px;
    height: 300px;
    margin: auto;
    background-color:black;
    margin-top: 10px;
    margin-bottom: 10px;
    
}


#leftcontent {
    
    
    width: 300px;
    height: 300px;
    background-color: aqua;
    margin-left: 100px;
    margin-top: 10px;
    float: left;
}


#rightcontent {
    
    width: 300px;
    height: 300px;
    background-color: yellow;
    margin-left: 100px;
    margin-top: 10px;
    float: left;
    
        

}

#bottomleft  {
    
    width: 300px;
    height: 300px;
    background-color: purple;
    margin-left: 100px;
    margin-top: 20px;
    float: left;
    
}


#bottomright {
    width: 300px;
    height: 300px;
    background-color: pink;
    margin-left: 100px;
    margin-top: 20px;
    float: left;
    

}

#footer {
    
    
    width: 700px;
    height: 300px;
    background-color: black;
    float: right;
    margin-top: 20px;
    margin-right: 100px;
    
}